body {
  font-size: 14px;
  font-family: "Open Sans"; sans-serif;
}
h2  {
  font-size: 1.7rem;
  font-weight: bold;
  margin-bottom: 20px;
  color: #399bd1;
}

h3 {
  font-size: 1.3rem;
  font-weight: bold;
}

li {
  list-style: none;
}

ul {
  padding-left: 0;
}

/* Navigation bar */
nav .container {
  width: 100%;
  font-size: 1.1rem;
}

.navbar-default .navbar-nav  .active  a {
  background-color: inherit;
  color:#399bd1;
}

.navbar-default .navbar-nav  .active  a:hover {
  background-color: inherit;
  cursor: pointer;
  color: #399bd1;
}
/* Jumbotron section */
.jumbotron h1 {
  font-family: Monoton;
  font-size: 7.1rem;
}

.jumbotron p {
  margin: 2.8rem;
}
.jumbotron p,
.jumbotron h1 {
  color:white;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}
.jumbotron {
  background-image:url("../images/jumbotron-bike.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.jumbotron .container {
  margin-top: 11.85rem;
  margin-bottom: 11.85rem;
  width: 51.3rem;
}

.btn-primary {
  width:11.4rem;
  padding-top: 1.3rem;
  padding-bottom: 1.3rem;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
  background-color: rgb(51, 122, 183);
  border: none;
}

.btn-primary:hover {
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.9);
  background-color: #399bd1;
  transition: all 0.5s ease-out;
}

.btn-primary:active {
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
  background-color: rgb(51, 122, 183);
  transition: all 1ms linear;
}

/* Featured Project section */
.product-categories {
  color: #399bd1;
}
